.figure {
	text-align: center;
	width: 90%;
  	margin: 0 auto;
}

.figure p {
	font-size: 0.75em;
	font-style: italic;
}

.badge a {
	color: white;
}

.pubs li {
	list-style-type: square;
	margin: 0 0 25px 0;
	color: #666;
}

.pubs strong {
	color: black;
}