:html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="${base_dir}favicon.ico">

    <title>${title} - Telmo Menezes</title>

    <link href="${base_dir}css/bootstrap.min.css" rel="stylesheet">
    <link href="${base_dir}css/main.css" rel="stylesheet">

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['[latex]','[/latex]'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="${base_dir}js/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//www.telmomenezes.org/analytics/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//www.telmomenezes.org/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded rounded mb-3">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="${base_dir}index.html" class="navbar-left"><img style="max-height:40px" src="${base_dir}images/man.jpg"></a>
      &nbsp;&nbsp;
      <a class="navbar-brand" href="${base_dir}index.html">Telmo Menezes</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="${base_dir}index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="${base_dir}index.html#research">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="${base_dir}publications.html">Publications</a>
          </li>
        </ul>
        <ul class="navbar-nav float-right">
          <li class="nav-item">
            telmo@telmomenezes.com
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    ${html}
    </div>

    <script src="${base_dir}js/jquery-3.1.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="${base_dir}js/jquery-3.1.1.slim.min.js"><\/script>')</script>
    <script src="${base_dir}js/tether.min.js"></script>
    <script src="${base_dir}js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="${base_dir}js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>